# 1. Variables and Arithmetic

In this first section, we learn some basics on variables in Python. In particular, we
learn how to 
* assign and print out variables,
* convert them from one type to another,
* perform (standard) calculations, and 
* use logical operators.

Keywords: ```type```, ```=```, ```print```, ```int```, ```float```, ```str```, ```bool```, 
```==```, ```<=```, ```is```, ```and```, ```or```

***
## Initialise and print variables

The two most commonly used number data types are **integers**, i.e. whole numbers, like

In [ ]:
type(1)

and **floating-point numbers** or **floats**, i.e. decimal numbers, like

In [ ]:
type(2.5)

Another important data type are strings which are used to represent text

In [ ]:
type("like this text.")

For assigning values to variables, the ```=``` operator is used

In [ ]:
integer_variable = 10
float_variable = 2.5
complex_variable = 1 + 2j
string_variable = "some text"
another_string_variable = 'this is also a string'

In [ ]:
integer_variable

In [ ]:
print(integer_variable)

#### Note 
the difference between using ```integer_variable``` in the cell above and ```print(integer_variable)```. In the first case,
Jupyter Notebooks allow us to inspect the internal value of the variable as it would be used in the program
(note the ```[5]:``` indiciating the last output of this particular cell). In the second case, ```print```
is what you would require if you want to output something during the execution of the program.

In [ ]:
type(integer_variable)

In [ ]:
print(float_variable)

In [ ]:
type(float_variable)

In [ ]:
string_variable

In [ ]:
print(another_string_variable)

In [ ]:
complex_variable

In [ ]:
a = 127
print(a)

In [ ]:
a = 1.1
print(a)

***
## Converting variables between different data types

Frequently, we start working with variables which are of a particular type 
but notice half way through that we actually require another type. Type 
conversion is not a problem in Python. In fact, we change the type on the fly.

In [ ]:
new_int = 4

print("Initially, we had new_int =", new_int, "of type", type(new_int))

new_int = float(new_int)

print("Now, we have new_int =", new_int, "of type", type(new_int))

#### Note 
that in this example ```<class '...'>``` has something to do with the data type.
You don't need to pay too much attention to this for the time being.

In [ ]:
int(2.7)

In [ ]:
int('15')

In [ ]:
float('5.7')

In [ ]:
converted_int = str(integer_variable)

print("The converted integer is of type", type(converted_int))
converted_int

***
## Arithmetic operators

Using arithmetic operations (```+```, ```-```, ```/```, ```*```, ```//```, ```**```, ```%```) should exactly work as you would expect it.

In [ ]:
10 + 2

In [ ]:
integer_variable + float_variable

In [ ]:
'example' + 3

In [ ]:
'example' + str(3)

In [ ]:
100 - 1

In [ ]:
100 - (-1)

In [ ]:
integer_variable - float_variable

In [ ]:
100 * -2

In [ ]:
11/2

In [ ]:
11//2

In [ ]:
int(11/2)

#### Note
that the **integer division** (```//```) operation ```11//2``` and ```int(11/2)``` both give you the same result which is the integer
before the decimal point, i.e. decimals are clipped away.

On the other hand, the **modulus** operator ```%``` returns the remainder of a division. For example:

In [ ]:
11%2

In [ ]:
print("2 divides 11 =>", 11//2, "times with a remainder of =>", 11%2)

In [ ]:
1 / 0

For exponentiation in Python we can use the ```**``` operator or ```pow``` function. So, for $2^3$ we do

In [ ]:
2**3

or

In [ ]:
pow(2,3)

In [ ]:
9**0.5

***
## Logical operators & more

Boolean variables represent another important data type which only allow two values, ```True``` and ```False```.

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool(100)

In [ ]:
bool(0.5)

In [ ]:
bool(1) == True

In [ ]:
bool(0.5) == False

In [ ]:
1 == True

In [ ]:
0 == False

#### Note
that (in most programming languages) the mathematical symbol for *equals* 
is redefined as the ```==``` operator. This is necessary because ```=``` is already 
used for assigning values to variables.

In [ ]:
bool_variable = True
placeholder = None

In [ ]:
placeholder is None

In [ ]:
bool_variable = True

not bool_variable

In [ ]:
5 == 5.0

In [ ]:
int(5) == float(5)

In [ ]:
10 != 10.0

In [ ]:
10 <= 10

In [ ]:
10 >= 11

In [ ]:
"a" > "b"

#### Note 
that strings are ordered lexicographically.

In [ ]:
'car' < 'cat'

Suppose you are looking for new flat and you find an offer located in Basel which 
has a monthly rent of 500 CHF.

In [ ]:
rent = 500
city = 'Basel'

Consider three scenarios: In the first, you want to pay less than 700 CHF and live in Basel. 
Is this a relevant offer for you?

In [ ]:
rent < 700 and city == 'Basel'

In the second scenario, you would like to pay less than 700 CHF or live in Zurich.
Would you be interested?

In [ ]:
rent < 700 or city == 'Zurich'

In the last scenario, you would like to pay less than 400 CHF or live in Zurich. 
What about now?

In [ ]:
rent < 400 or city == 'Zurich'

***
## Some caveats

In [ ]:
0.1*3

This is because the binary representation of 0.1 is a periodically repeating number, i.e.

$$ 0.1_\text{decimal} \ \hat{=} \ 0.0\overline{0011}_\text{binary}.$$

The representation of this number needs to be clipped at some point, as we have a limited
memory resources to represent numbers.

In [ ]:
5/11

In [ ]:
2e400

You have a lot of freedom in deciding the name of your variable.
You can use underscores (*_*), numbers, or capital letters like

In [ ]:
integer2 = 15
integer_variable = 10
integerVariable = 5

However, the following would not work, as they are **illegal variable names**:

In [ ]:
2integer = 15

In [ ]:
integer-variable = 10

In [ ]:
integer variable = 5

***
## Exercise section

(1.) Assign to two different variables the values ```123``` and ```123.0```.

(2.) Check with ```==``` whether these two variables are equal and save the result
to a new variable.

(3.) Print the following sentences using strings, the two variables from (1.) and 
the boolean (result) variable from (2.) to output the following sentences:

``` Comparing the two variables leads to the result: 123 == 123.0 is True```